<button class="btn btn-primary undo-buttons" ng-click="toggleForm()" ng-show="!ghostActive"><span class="glyphicon glyphicon-plus"></span></button>
<button class="btn btn-danger undo-buttons" ng-click="cancelCreationOfPostIt()" ng-show="ghostActive"><span class="glyphicon glyphicon-remove"></span></button>

<div id="create-post-it-div" class="dropdown-menu create-form">
	<form name="createForm" ng-submit="createPostItGhost()">
		<fieldset>
			<label>Create Post It</label>
			<textarea class="form-control" ng-model="postItText" rows="10" required>Write something here</textarea>
			<input type="button" class="btn btn-default btn-sm" value="Cancel" ng-click="toggleForm()"/>
			<input type="submit" class="btn btn-primary btn-sm" value="Create" ng-disabled="createForm.$invalid"/>
		</fieldset>
	</form>
</div>